.header-wrapper{
    padding: 10px 0px;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}


.chats-body{
    background-image: url("../images/chatBg.png");
    min-height: 100vh;
}

.chat-screen .chat__messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding:0px 20px;
    padding-top: 20px;
}

.chats-body {
    padding: 10px 0px;
    padding-top: 100px;
    min-height: 10000px;
}

.chats-body .header,
.chats-body .status-bar{
    padding: 0px 20px;
}

.chat__write-container{
    position: fixed;
    display: flex;
    background-color: #fcfcfc;
    padding: 0px 20px ;   
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}
.chat__write{
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__icon-right{
    position: absolute;
    right:0px;
}

.chat__icon-left{
    position: absolute;
}

.chat__write:focus{
    outline: none;
}

.chat__write:focus ~ .chat__icon{
    opacity: 0;
}

.chat__icon{
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;

}

.chat__write i{
font-size: 22px;
}

.chat__write-column:nth-child(2){
    width : 80%;
}
.chat__write-column input{
    padding: 20px 10px;
    width: 100%;
    border: none;
}

.chat__write-column input:focus{
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;

    text-transform: uppercase;
    font-weight: 700;
}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.incoming-message img{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
}
.sent-message{
    align-self: flex-end;

}

.incoming-message{
    align-self: flex-start;
}

.message__bubble{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: block;
}

.incoming-message .message__author{
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);
}

.sent-message .message__bubble{
    border-bottom-right-radius: 0px;
    background-image: linear-gradient(#8360c3,#2ebf91);
}

.message__bubble{
    font-weight: 600;
}